#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/* レイヤー4の間だけ、トラックボールのXY移動を横・縦スクロールへ変換 */

&pointing_listener {
    scroll_layer {
        layers = <4>;
        input-processors = <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    /* torabo-tsuki LP Sの44キー配列を使用 */

    chosen { zmk,physical-layout = &physical_layout_s; };

    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <18 19>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <22 23>;
        };

        LeftClick {
            bindings = <&mkp MB1>;
            key-positions = <16 17>;
        };

        RightClick {
            bindings = <&mkp MB2>;
            key-positions = <17 18>;
        };

        PrevClick {
            bindings = <&mkp MB4>;
            key-positions = <6 7>;
        };

        NextClick {
            bindings = <&mkp MB5>;
            key-positions = <7 8>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <8 9>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        bt_mac: bt_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&macro_tap_time 200>, <&to 0>;

            label = "BT_MAC";
        };

        bt_win: bt_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&macro_tap_time 200>, <&to 2>;

            label = "BT_WIN";
        };

        bt_macmini: bt_macmini {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4>, <&macro_tap_time 200>, <&to 0>;

            label = "BT_MACMINI";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* 10 + 10 + 12 + 12 = 44 keys */

        MacBase {
            bindings = <
&kp Q             &kp W      &kp E     &kp R   &kp T                                                           &kp Y        &kp U         &kp I         &kp O         &kp P
&kp A             &kp S      &kp D     &kp F   &kp G                                                           &kp H        &kp J         &kp K         &kp L         &kp MINUS
&mt LEFT_SHIFT Z  &kp X      &kp C     &kp V   &kp B                     &kp SINGLE_QUOTE       &kp SEMICOLON  &kp N        &kp M         &kp COMMA     &kp DOT       &mt RIGHT_SHIFT SLASH
&kp LGUI          &kp LCTRL  &kp LALT  &trans  &kp LS(LC(LG(NUMBER_4)))  &lt 6 LC(LA(SPACE))    &kp BACKSPACE  &lt 1 ENTER  &kp NUMBER_3  &kp NUMBER_2  &kp NUMBER_1  &kp ESC
            >;
        };

        MacNumArrow {
            bindings = <
&kp TAB          &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp LS(TAB)                                  &trans     &mkp MB4        &mkp MB3        &mkp MB5         &kp F10
&kp KP_SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS                                 &kp LC(A)  &mkp MB1        &kp UP_ARROW    &mkp MB2         &kp F11
&kp KP_MULTIPLY  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_PLUS       &kp LS(MINUS)    &kp END   &kp LC(E)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp F12
&kp DELETE       &kp N0        &kp DOT       &kp LCTRL     &kp LG(NUMBER_0)  &kp LGUI         &kp BSPC  &kp HOME   &trans          &trans          &kp LC(LG(Q))    &trans
            >;
        };

        WinBase {
            bindings = <
&kp Q             &kp W             &kp E     &kp R      &kp T                                                        &kp Y             &kp U     &kp I        &kp O    &kp P
&kp A             &kp S             &kp D     &kp F      &kp G                                                        &kp H             &kp J     &kp K        &kp L    &kp MINUS
&mt LEFT_SHIFT Z  &kp X             &kp C     &kp V      &kp B                     &kp SINGLE_QUOTE    &kp SEMICOLON  &kp N             &kp M     &kp COMMA    &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_COMMAND  &kp LALT  &kp SPACE  &kp LS(LC(LG(NUMBER_4)))  &lt 4 SPACE         &lt 6 GRAVE    &kp LEFT_BRACKET  &kp BSPC  &lt 3 ENTER  &kp ESC  &trans
            >;
        };

        WinNumArrow {
            bindings = <
&kp TAB          &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp LS(TAB)                                  &trans     &mkp MB4        &mkp MB3        &mkp MB5         &kp F10
&kp KP_SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS                                 &kp LC(A)  &mkp MB1        &kp UP_ARROW    &mkp MB2         &kp F11
&kp KP_MULTIPLY  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_PLUS       &kp LS(MINUS)    &kp END   &kp LC(E)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp F12
&kp DELETE       &kp N0        &kp DOT       &kp LEFT_WIN  &kp LC(NUMBER_0)  &kp LEFT_ALT     &kp BSPC  &kp HOME   &trans          &trans          &kp LG(L)        &trans
            >;
        };

        Sym {
            bindings = <
&kp LS(NUMBER_1)       &kp AT_SIGN   &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)                    &kp LS(NUMBER_6)      &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp PLUS
&kp RBKT               &kp BSLH      &kp EQUAL         &kp LS(INT3)      &kp INT3                            &kp LS(INT1)          &kp LEFT_BRACKET  &trans            &trans            &kp LEFT_BRACE
&kp LS(RIGHT_BRACKET)  &kp LS(BSLH)  &trans            &kp LS(INT1)      &trans            &trans    &trans  &kp LA(INT3)          &kp SINGLE_QUOTE  &trans            &trans            &kp SEMICOLON
&trans                 &trans        &trans            &trans            &trans            &trans    &trans  &kp LS(LG(NUMBER_5))  &trans            &trans            &trans            &trans
            >;
        };

        Adjust {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &studio_unlock  &trans  &trans  &trans   &bt BT_CLR_ALL
&bt_mac       &bt_win       &trans        &trans        &bt_macmini                     &trans          &trans  &trans  &trans   &bt BT_CLR
&trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans          &trans  &trans  &trans   &trans
&to 0         &to 2         &trans        &trans        &bootloader   &trans    &trans  &trans          &trans  &trans  &kp ESC  &trans
            >;
        };

        Func {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &to 5   &trans
            >;
        };
    };
};
